*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#header{
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/back-img.jpg);
    background-position:center;
    background-size:cover;
}
.container{
    width:90%;
    margin:auto;
}
.cont-info{
    color:#ffffffb3;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
}
.cont i{
    color:rgb(192, 158, 96);
}
.ml{
    margin-left:1.5rem;
}
.social-1 i:hover{
    color:white;
}
.nav-sec{
    background-color:rgba(12, 11, 9,0.61);
    color: #fff;
    padding: 15px 0;
    margin-top:20px;

}
.logo{
    display:inline;
}

.nav-sec .logo h1 {
    font-size: 2em;
    display: inline;
}

nav {
    float: right;
}
nav ul li {
   padding-top:12px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: "";
    display: block;
    height: 2px;
    background: #e67e22;
    position: absolute;
    bottom:-5px;
    left:0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}



 
/* Banner Section */
.banner{
    color:white;
    margin-top:150px;
   
} 

.banner h2 {
    font-size: 3em;
    margin-bottom: 15px;
}
.banner span{
    color:#cda45e;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.banner .btn {
    background-color:#cda45e;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.banner .btn:hover {
    background-color: #d35400;
} 

/* Highlights Section */
.highlights {
    padding: 50px 0;
    text-align: center;
}
.main-title{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.main-title span{
    
    position: absolute;
    
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:52px;
    
    text-transform:uppercase;
    
    
}
.main-title h2{
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}


.highlight-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.highlight-card {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(33.333% - 30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}


.highlight-card img {
    width: 100%;
    height:65%;
    border-bottom: 2px solid #e67e22;
}


.highlight-content {
    padding: 15px;
}

.highlight-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.highlight-content p {
    font-size: 1.1em;
}

/* Menu Section */
.menu {
    padding: 50px 0;
    background-color: #ecf0f1;
    text-align: center;
}


.main-menu{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.main-menu span{
    
    position: absolute;
    
    top: 30px;
    color:rgb(189, 177, 156);
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:52px;
    
    text-transform:uppercase;
    
    
}
.main-menu h2{
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}



.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-card {
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(33.333% - 30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.menu-card img {
    width: 100%;
    height: 65%;
    border-bottom: 2px solid #e67e22;
}

.menu-content {
    padding: 15px;
}

.menu-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.menu-content p {
    font-size: 1.1em;
}

.price {
    font-weight: bold;
    color: #e67e22;
}
/* crousel */

 .carousel-image img{
    height:75vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

 }
 .main-gallery{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.main-gallery span{
    
    position: absolute;
    
    top: 30px;
    color:#f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:52px;
    
    text-transform:uppercase;
    
    
}
.main-gallery h2{
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}



/* About Section */
.about {
    padding: 50px 0;
    text-align: center;
}
.abt-title{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.abt-title span{
    
    position: absolute;
    
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:52px;
    
    text-transform:uppercase;
    
    
}
.abt-title h2{
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}



.about p {
    font-size: 1.2em;
    margin: 0 auto;
    width: 80%;
    line-height: 1.6;
}

/* Contact Section */
.contact {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

/* .contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
} */

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.contact-title{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.contact-title span{
    
    position: absolute;
    
    top: 30px;
    color:#f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:52px;
    
    text-transform:uppercase;
    
    
}
.contact-title h2{
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}


.contact-item {
    width: 30%;
    text-align: center;
}

.contact-item h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 1.1em;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #d35400;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Responsive Design */

@media (max-width: 768px) {
    #header{
        height:130vh;
        background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/back-img.jpg);
        background-position:center;
        background-size:cover;
    }
    header .logo {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner{
        margin-top:50px;
    }
    

    nav {
        float: none;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .highlight-card, .menu-card {
        width: 100%;
        margin: 10px 0;
    }
    /* .high-img img{
        height:80%;
    } */
    .highlight-content h3 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    
    .highlight-content p {
        font-size: 1.1em;
    }
    
.menu-content h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.menu-content p {
    font-size: 1.3em;
}

    .contact-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner h2 {
        font-size: 2.5em;
    }

    .banner p {
        font-size: 1.5em;
    }
}

@media(max-width:575px){
    #header{
        height:130vh;
        background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/back-img.jpg);
        background-position:center;
        background-size:cover;
    }
    
    .cont-info{
        font-size:10px;
    }
    .ml{
        margin-left: 2px;
    }
    .banner{
        margin-top: 50px;
    }
    .banner h2{
        font-size:23px;
    }
    .banner p{
        font-size:1.2rem;

    }
    .highlight-content h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }
    
    .highlight-content p {
        font-size: 1em;
    }
    .main-title{
        text-align:center;
        
        padding:30px 0px;
        margin-top:25px;
        
        position:relative;
    }
    .main-title span{
        
        position: absolute;
        
        top: 30px;
        color: #f4f4f4;
        left: 0;
        right: 0;
        line-height:0;
        z-index: 2;
        font-weight:700;
        font-size:30px;
        
        text-transform:uppercase;
        
        
    }
    .main-title h2{
        font-size:25px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom:20px;
        color: #191919;
        
        position: relative;
        z-index: 2;
    }
    
    .main-menu{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
    .main-menu span{
    
    position: absolute;
    
    top: 30px;
    color:rgb(189, 177, 156);
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:30px;
    
    text-transform:uppercase;
    
    
}
    .main-menu h2{
    font-size:25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}
.menu-content h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.menu-content p {
    font-size: 1em;
}
.main-gallery{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
.main-gallery span{
    
    position: absolute;
    
    top: 30px;
    color:#f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:30px;
    
    text-transform:uppercase;
    
    
}
.main-gallery h2{
    font-size:25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}


    .abt-title{
    text-align:center;
    
    padding:30px 0px;
    margin-top:25px;
    
    position:relative;
}
   .abt-title span{
    
    position: absolute;
    
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    line-height:0;
    z-index: 2;
    font-weight:700;
    font-size:30px;
    
    text-transform:uppercase;
    
    
}
    .abt-title h2{
    font-size:25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom:20px;
    color: #191919;
    
    position: relative;
    z-index: 2;
}


    .contact-title{
        text-align:center;
        
        padding:30px 0px;
        margin-top:20px;
        
        position:relative;
    }
    .contact-title span{
        
        position: absolute;
        
        top: 30px;
        color:#f4f4f4;
        left: 0;
        right: 0;
        line-height:0;
        z-index: 2;
        font-weight:700;
        font-size:35px;
        
        text-transform:uppercase;
        
        
    }
    .contact-title h2{
        font-size:25px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom:20px;
        color: #191919;
        
        position: relative;
        z-index: 2;
    }
    
}












